@import "../tokens.scss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.burgerbar {
  height: 40px;
  width: 40px;
  margin-left: 20px;
  cursor: pointer;
}

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  padding: 20px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.burger-menu ul {
  list-style: none;
  padding: 0;
  margin: 50px 0 0;
}

.burger-menu li {
  margin: 20px 0;
  font-size: 50px;
  cursor: pointer;
  animation: slideIn 0.5s ease-in-out forwards;
  padding: 40px;
}

.burger-menu li:hover {
  color: #e34d4d;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.burger-menu .close-button {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 70px;
}

@keyframes slideIn {
  from { transform: translateY(-100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes slideOut {
  from { transform: translateY(0); opacity: 1; }
  to { transform: translateY(-100%); opacity: 0; }
}




.carousel-container {
    margin-top: 20px;
  }
  
  .swiper-container {
    width: 100%;
    height: 352px;
  }
  
  .swiper-slide {
    width: calc(25% - 20px); /* Show 4 slides at a time with spacing */
    margin-right: 20px;
    display: flex;
    justify-content: center;
  }
  
  .swiper-slide:last-child {
    margin-right: 0;
  }
  
  @media (max-width: 768px) {
    .swiper-slide {
      width: calc(100% - 20px); /* Show 1 slide at a time on mobile */
      margin-right: 20px;
    }
  }
  

.iframe-container {
    flex-direction: column;
    gap: 20px;
  }
  
  

.page-acceuil {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #ffffff;
}

.navbar {
  padding: 10px 20px;
  top: 0;
  left: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  width: 100%;
  height: 89px;
  z-index: 2; /* Ensures the navbar is on top of other content */
}

.burgerbar, .text-le-croissant-fertile {
  display: flex;
  align-items: center;
}

.burgerbar {
  margin-right: 20px;
  cursor: pointer;
}

.text-le-croissant-fertile {
  color: #ffffff;
  font-size: 40px;
  font-family: Koulen;
  cursor: pointer;
}

.frame-3 {
  display: flex;
  align-items: center;
  margin-right: 50px;
  font-size: 40px;
  font-family: Koulen;

}

.text-en-fr {
  color: #ffffff;
  font-size: 40px;
  font-family: Koulen;
}

.left-section{
  display: flex;
}


.hamburger-menu img {
  width: 40px;
  height: 40px;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;
  width: 100%;
  height: 730px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

/* Add this to your CSS file */
.spinning-logo {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* CSS for title typing effect */
.title {
  color: #ffffff;
  font-size: 96px;
  font-family: Koulen;
  text-align: center;
  margin-top: 10px;
}

.title span {
  display: inline-block;
  opacity: 0;
  transform: translateY(-20px);
}


.content-wrapper {
  display: none; /* Initially hide the content wrapper */
}

.content-wrapper.ng-trigger-fadeInContent {
  display: block; /* Show the content wrapper when the animation starts */
}

.whats-new-section {
  padding: 50px 20px;
  text-align: center;
  border-bottom: 1px solid #000000;

}

.text-what-s-new {
  color: #000000;
  font-size: 42px;
  font-family: Koulen;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 30px;
}

.music-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.music-card {
  background: #e34d4d;
  width: 300px;
  height: 400px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: Koulen;
}

.text-new-single, .text-song-name, .text-artist-name {
  margin: 16px 0;
}

.about-us, .our-mission, .reach-out, .our-artists {
  padding: 50px 20px;
  text-align: center;
  border-top: 1px solid #000000;
  margin-bottom: 10px;
}

.text-about-us, .text-our-mission, .text-reach-out, .text-nos-artistes {
  color: #000000;
  font-size: 42px;
  font-family: Koulen;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 10px;
}


.about-description, .mission-description, .reach-out-description {
  color: #2b2d42;
  font-size: 24px;
  font-family: Koulen;
  margin: 0 auto;
  max-width: 800px;
  text-align: justify;
}

.artist-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 50%;

}

.artist-card {
  background: #ffffff;
  width: 150px;
  height: 150px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-family: Koulen;
  cursor: pointer; /* Ensure the cursor indicates a clickable item */
  border-radius: 50%;
  margin-top: 20px;
}


.text-artist-name {
  font-size: 24px;
  font-family: Koulen;
  margin-bottom: 20px;
  position: absolute;
  top: -30px; /* Position above the circle */
  white-space: nowrap;

}

.artist-card:hover {
  transform: scale(1.05); /* Slight scaling on hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add a shadow effect on hover */
}

.artist-card:hover img {
  transform: scale(1.1); /* Scale up the image slightly */
}

.artist-card:hover .text-artist-name {
  opacity: 0.7; /* Slightly fade the text on hover */
}


.artist-card img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block; /* Ensures the image is treated as a block element */
  margin: 0 auto; /* Centers the image */
  object-fit: cover; /* Ensures the image covers the circle without distortion */
  object-position: center; /* Ensures the center of the image is displayed */

  transition: transform 0.3s ease; /* Smooth transition for image scaling */
}


.artist-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.button {
  background: #e34d4d;
  color: #ffffff;
  font-family: Koulen;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 15px;
}

.button:hover {
  background: #d43a3a;
}

.footer {
  background: #000000;
  color: #ffffff;
  padding: 50px 0px;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
}

.footer-description {
  text-align: center;
  margin: 20px 0;
  font-family: Koulen;
  max-width: 800px;
  text-align: justify;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 30px 0;
  margin-right: 30px;

}

.frame-186, .frame-185, .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-website-links, .text-social-platforms, .text-languages {
  font-size: 32px;
  font-family: Koulen;
  margin-bottom: 20px;
}

.text-home, .text-pricing, .text-about, .text-faqs, .text-instagram, .text-facebook, .text-tiktok, .text-twitter, .text-english, .text-french {
  font-size: 24px;
  font-family: Koulen;
  margin: 5px 0;
  cursor: pointer;
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin-top: 30px;
}

.text-rights-reserved {
  font-size: 16px;
  font-family: Koulen;
}

.frame-39 {
  display: flex;
  gap: 20px;
}

.text-terms, .text-privacy, .text-cookies {
  font-size: 16px;
  font-family: Koulen;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .title{
    font-size: 50px;
}
  .navbar {
    height: auto;
    padding: 20px;
}
  .text-le-croissant-fertile{
    font-size: 25px;
}

.text-en-fr{
    font-size: 25px;
}

  .music-cards, .artist-cards {
    flex-direction: column;
    align-items: center;
  }

  .music-card {
    width: 80%;
  }


  
  .swiper-slide{
    width: calc(25% - 20px); /* Show 4 slides at a time with spacing */
    margin-right: 20px;
    // display: flex;
    justify-content: center;
  }

  .service-item img{
    width: 300px;
    height: 200px;
  }

}


/* Animation and hover effects for service items */
.service-item {
  flex-direction: row;
  align-items: center;
  display: flex;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: 15px;
}

.service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.service-item img {
  max-width: 400px;
  margin-left: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.service-item:hover img {
  transform: scale(1.0);
}

/* Optional: Set the transition origin to the left or right for the hidden-left and hidden-right classes */
.hidden-left {
  transform-origin: left;
}

.hidden-right {
  transform-origin: right;
}


.service-item {
  flex-direction: row;
  align-items: center;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
}
.service-text{
  width: 95%;
}

.img{
  width: 400px;
  height: 300px;
}

.service-item h2 {
  font-size: 42px;
  font-family: Koulen;
  color: #000000;
}

.service-item p {
  font-size: 24px;
  font-family: Koulen;
  color: #2b2d42;
  text-align: justify;
}

.service-item img {
  max-width: 400px;
  margin-left: 20px;
}


.parallax {
  background: url('/assets/images/logo.png') no-repeat fixed;
  background-size:cover;
  margin: 0;
}
.artist-carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.artist-carousel-inner {
  display: flex;
  width: calc(200%); /* Double the width to include repeated items */
  animation: scroll 20s linear infinite;
  margin-top: 10px;
}

.artist-card {
  flex: 0 0 5%; /* Adjust this based on the number of items to show */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.artist-card img {
  width: 150px; /* Adjust image size as needed */
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

// MODALE==============
/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

/* Modal Close Button */
.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #e34d4d;
}

/* Modal Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Modal Body */
.modal-body {
  text-align: center;
}

/* Input Field in Modal */
.modal-body input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Modal Buttons */
.modal-body button {
  background-color: #e34d4d;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
}

.modal-body button:hover {
  background-color: #d43a3a;
}

/* Button to open the modal */
.btn-add-iframe {
  background: #e34d4d;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 20px; /* Adjust as needed for alignment */
}

.btn-add-iframe:hover {
  background: #d43a3a;
}

//IFrame Carousel=====================
.iframe-carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.iframe-carousel-inner {
  display: flex;
  white-space: nowrap;
  animation: scroll 15s linear infinite;
}

.iframe-item {
  flex: 0 0 25%; /* Show 4 items at a time */
  display: inline-block;
  padding: 10px;
}

@media (max-width: 768px) {
  .iframe-item {
    flex: 0 0 50%; /* Show 2items at a time */
    display: inline-block;
    padding: 10px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}





.artists-carousel{
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 20px;
}

