/* General Styles */
.page-services {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #ffffff;
}

.logo-foot{
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Ensure text inside is centered */
  padding: 20px;
}

.button-delete{
  background-color: #db3236;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

/* Navbar Styles */
.navbar {
  padding: 10px 20px;
  top: 0;
  left: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  width: 100%;
  height: 89px;
  z-index: 2; /* Ensures the navbar is on top of other content */
}

.burgerbar, .text-le-croissant-fertile {
  display: flex;
  align-items: center;
}

.burgerbar {
  margin-right: 20px;
  cursor: pointer;
}

.text-le-croissant-fertile {
  color: #ffffff;
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
  cursor: pointer;
  margin-left: 80px;

}

.frame-3 {
  display: flex;
  align-items: center;
  margin-right: 50px;
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
}

.text-en-fr {
  color: #ffffff;
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
}

.left-section {
  display: flex;
}

.hamburger-menu img {
  width: 40px;
  height: 40px;
}

.burgerbar {
  height: 40px;
  width: 40px;
  margin-left: 20px;
  cursor: pointer;
}


.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  padding: 20px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  align-items: flex-start; /* Align content to the left */
  overflow: hidden;
}

/* Add a pseudo-element to place the image in the background */
.burger-menu::before {
  content: "";
  position: absolute;
  top: 20%; /* Position in the vertical center */
  left: 30%; /* Position in the horizontal center */
  width: 600px; /* Adjust size as needed */
  height: 600px; /* Adjust size as needed */
  background: url('/assets/images/logo.png') no-repeat center center;
  background-size: contain;
  opacity: 0.2; /* Adjust opacity */
  transform: translate(-50%, -50%) rotate(0deg); /* Center the image and start with no rotation */
  animation: spin 4s linear infinite; /* Spin the image */
  z-index: -1; /* Ensure the image is behind the menu content */
}

/* Spinning animation */
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); /* Start with no rotation */
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); /* Full rotation */
  }
}

.burger-menu ul {
  list-style-type: none !important; /* Ensure no bullet points */
  padding-left: 0 !important; /* Remove any padding */
}

.burger-menu li {
  list-style: none !important; /* Ensure no bullet points */
  margin: 0; /* Ensure there's no extra margin */
  padding: 0; /* Ensure there's no extra padding */
}


.burger-menu ul {
  list-style: none;
  padding: 0;
  margin: 80px 0 0;
}

.burger-menu li {
  margin: 0;
  font-size: 30px;
  cursor: pointer;
  animation: slideIn 0.5s ease-in-out forwards;
  padding: 40px;
}

.burger-menu li:hover {
  color: #e34d4d;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.burger-menu .close-button {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 70px;
}

@keyframes slideIn {
  from { transform: translateY(-100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes slideOut {
  from { transform: translateY(0); opacity: 1; }
  to { transform: translateY(-100%); opacity: 0; }
}

/* Services Header */
.services-header {
  background: #000000;
  color: #ffffff;
  text-align: center;
  padding: 50px 0;
}

.services-header h1 {
  font-size: 85px;
  font-family: 'Roboto Slab', serif;
}

/* Services Content */
.services-content {
  padding: 50px 20px;
}

.service-item {
  margin-bottom: 40px;
  flex-direction: row;
  align-items: center;
  display: flex;
  transition: transform 0.3s, box-shadow 0.3s;
}

.service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.service-text {
  width: 100%;
}

.service-item h2 {
  font-size: 42px;
  font-family: 'Roboto Slab', serif;
  color: #000000;
}

.text-instagram a,
.text-facebook a {
  color: inherit; /* Keep the text color the same as the surrounding text */
  text-decoration: none; /* Remove underline */
}

.text-instagram a:hover,
.text-facebook a:hover {
  text-decoration: underline; /* Add underline on hover if desired */
}


.service-item p {
  font-size: 24px;
  font-family: 'Roboto Slab', serif;
  color: #2b2d42;
  text-align: justify;
}

.service-item img {
  width: 100%;
  max-width: 400px;
  margin-left: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.service-item:hover img {
  transform: scale(1.05);
}

/* Footer Styles */
.footer {
  background: #000000;
  color: #ffffff;
  padding: 50px 0px;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  max-width: 30%;
  height: auto;
  animation: spin 4s linear infinite;
}

.footer-description {
  text-align: center;
  margin: 20px 0;
  font-family: 'Roboto Slab', serif;
  max-width: 800px;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 30px 0;
}

.frame-186, .frame-185, .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-website-links, .text-social-platforms, .text-languages {
  font-size: 32px;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 20px;
}

.text-about, .text-faqs, .text-instagram, .text-facebook, .text-english, .text-french {
  font-size: 24px;
  font-family: 'Roboto Slab', serif;
  margin: 5px 0;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin-top: 30px;
}

.text-rights-reserved {
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
  margin-left: 30px;
}

.button {
  display: block; /* Make the button a block-level element */
  margin: 0 auto; /* Center horizontally */  background: #e34d4d;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 35px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 50px;
}


/* Sticky burger bar container */
.sticky-burgerbar {
  position: fixed; /* Fix the position */
  top: 20px; /* Adjust this to control how far from the top you want the bar */
  left: 20px; /* Adjust this to control how far from the left you want the bar */
  z-index: 1000;
  width: 60px; /* Adjust size as needed */
  height: 60px; /* Adjust size as needed */
  background-color: rgb(0, 0, 0); /* Dark background with some transparency */
  border-radius: 50%; /* Make it circular */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: add some shadow for better visibility */
}

/* Burger bar image */
.sticky-burgerbar .burgerbar {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure the image scales properly */
  cursor: pointer;
}






@media (max-width: 460px) {
  .navbar{
    height: auto !important;
  }
}
/* Responsive Styles */
@media (max-width: 768px) {
    .navbar{
        height: 65px !important;

    }

    .footer-logo img {
      max-width: 50% !important;
    }
  .button{
    font-size: 20px !important;
  }
  .text-rights-reserved{
    margin-left: 10px !important;
  }
  .burger-menu li{
    font-size: 30px !important;
    margin: 0 !important;

  }
  .services-header h1{
    font-size: 35px !important;
  }
  .service-item img{
    margin-left: 0 !important;

  }
  .service-item:hover {
    transform: none;
    box-shadow: none;
  }
  .service-item{
    display: block;
    left: 0 !important;
  }
  .text-website-links, .text-social-platforms, .text-languages {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
  }
  
  .text-about, .text-faqs, .text-instagram, .text-facebook, .text-english, .text-french {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
  }
  .navbar {
      height: auto;
      padding: 20px;
  }
  .text-le-croissant-fertile {
      font-size: 25px;
      margin-left: 60px;

  }

  .text-en-fr {
      font-size: 25px;
  }

  .service-item img {
      max-width: 100%;
  }

  .title {
      font-size: 25px;
  }


  .text-website-links, .text-social-platforms, .text-languages {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
  }
  
  .text-about, .text-faqs, .text-instagram, .text-facebook, .text-english, .text-french {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
  }
}

.spinning-logo {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


//modal==========
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  position: relative;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-body h3 {
  margin-bottom: 10px;
}

.modal-body input[type="text"],
.modal-body input[type="file"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.modal-body button {
  background-color: #e34d4d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

.modal-body button:hover {
  background-color: #d43a3a;
}
.btn-add-service {
  background-color: #e34d4d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
  font-size: 16px;
}

.btn-add-service:hover {
  background-color: #d43a3a;
}
