@import "../tokens.scss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
    // font-size: 45px;
    font-family: Koulen;
}


.burgerbar {
  height: 40px;
  width: 40px;
  margin-left: 20px;
  cursor: pointer;
}

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  padding: 20px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.burger-menu ul {
  list-style: none;
  padding: 0;
  margin: 50px 0 0;
}

.burger-menu li {
  margin: 0;
  font-size: 40px;
  cursor: pointer;
  animation: slideIn 0.5s ease-in-out forwards;
  padding: 40px;
}

.burger-menu li:hover {
  color: #e34d4d;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.burger-menu .close-button {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 70px;
}

@keyframes slideIn {
  from { transform: translateY(-100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.page-artists {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #ffffff;
}

.navbar {
  padding: 10px 20px;
  top: 0;
  left: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  width: 100%;
  height: 89px;
  z-index: 2; /* Ensures the navbar is on top of other content */
}

.burgerbar, .text-le-croissant-fertile {
  display: flex;
  align-items: center;
}

.burgerbar {
  margin-right: 20px;
  cursor: pointer;
}

.text-le-croissant-fertile {
  color: #ffffff;
  font-size: 40px;
  font-family: Koulen;
  cursor: pointer;
  margin-left: 80px;

}

.frame-3 {
  display: flex;
  align-items: center;
  margin-right: 50px;
  font-size: 40px;
  font-family: Koulen;

}

.text-en-fr {
  color: #ffffff;
  font-size: 40px;
  font-family: Koulen;
}

.left-section{
  display: flex;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;
  width: 100%;
  height: 300px;
}

.text-instagram a,
.text-facebook a {
  color: inherit; /* Keep the text color the same as the surrounding text */
  text-decoration: none; /* Remove underline */
}

.text-instagram a:hover,
.text-facebook a:hover {
  text-decoration: underline; /* Add underline on hover if desired */
}


.title {
  color: #ffffff;
  font-size: 45px;
  font-family: Koulen;
  text-align: center;
  margin-top: 10px;
}

.artists-section {
  padding: 50px 0px;
  text-align: center;
}

.carousel-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.artist-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.artist-card {
  background: #ffffff;
  border: 2px solid #e34d4d;
  width: 400px;
  height: 400px;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-family: Koulen;
  cursor: pointer;
  border-radius: 1000px;
  flex-direction: column;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
}

.text-artist-name {
  font-size: 24px;
  font-family: Koulen;
  margin-bottom: 10px;
  position: absolute;
  top: -30px; /* Position above the circle */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;

  transition: opacity 0.3s ease; /* Smooth transition for text opacity */
}

.artist-card:hover {
  transform: scale(1.05); /* Slight scaling on hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add a shadow effect on hover */
}

.artist-card:hover img {
  transform: scale(1.1); /* Scale up the image slightly */
}

.artist-card:hover .text-artist-name {
  opacity: 0.7; /* Slightly fade the text on hover */
}


.artist-card img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block; /* Ensures the image is treated as a block element */
  margin: 0 auto; /* Centers the image */
  object-fit: cover; /* Ensures the image covers the circle without distortion */
  object-position: center; /* Ensures the center of the image is displayed */

  transition: transform 0.3s ease; /* Smooth transition for image scaling */
}




.footer {
  background: #000000;
  color: #ffffff;
  padding: 50px 0px;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  max-width: 30%;
  height: auto;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.footer-description {
  text-align: center;
  margin: 20px 0;
  font-family: Koulen;
  max-width: 800px;
  text-align: justify;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 30px 0;

}

.frame-186, .frame-185, .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-website-links, .text-social-platforms, .text-languages {
  font-size: 32px;
  font-family: Koulen;
  margin-bottom: 20px;
}

.text-about, .text-faqs, .text-instagram, .text-facebook, .text-english, .text-french {
  font-size: 24px;
  font-family: Koulen;
  margin: 5px 0;
  cursor: pointer;

}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin-top: 30px;
}

.text-rights-reserved {
  font-size: 16px;
  font-family: Koulen;
  margin-left: 30px;
}


/* Sticky burger bar container */
.sticky-burgerbar {
  position: fixed; /* Fix the position */
  top: 20px; /* Adjust this to control how far from the top you want the bar */
  left: 20px; /* Adjust this to control how far from the left you want the bar */
  z-index: 1000;
  width: 60px; /* Adjust size as needed */
  height: 60px; /* Adjust size as needed */
  background-color: rgba(0, 0, 0, 0.7); /* Dark background with some transparency */
  border-radius: 50%; /* Make it circular */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: add some shadow for better visibility */
}

/* Burger bar image */
.sticky-burgerbar .burgerbar {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure the image scales properly */
  cursor: pointer;
}

/* Optional: Add hover effect */
.sticky-burgerbar:hover {
  background-color: rgba(227, 77, 77, 0.9); /* Change background color on hover */
}

.logo-foot{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Ensure text inside is centered */
  padding: 20px;
}


@media (max-width: 460px) {
  .navbar{
    height: auto !important;
  }
}
/* Responsive Styles */
@media (max-width: 768px) {
    .navbar{
        height: 65px !important;

    }
  .text-rights-reserved{
    margin-left: 10px !important;
  }
  .burger-menu li{
    font-size: 35px !important;
    margin: 0 !important;

  }
  .text-website-links, .text-social-platforms, .text-languages {
    font-size: 20px;
    font-family: Koulen;
  }
  
  .text-about, .text-faqs, .text-instagram, .text-facebook, .text-english, .text-french {
    font-size: 20px;
    font-family: Koulen;
  }
  .navbar {
    height: auto;
    padding: 20px;
}
  .text-le-croissant-fertile{
    font-size: 25px;
    margin-left: 60px !important;

}

.text-en-fr{
    font-size: 25px;
}

.title{
  font-size: 25px;
}

  .carousel-container, .artist-carousel {
    flex-direction: column;
    align-items: center;

  }

  .artist-carousel {
    grid-template-columns: 1fr !important; /* 1 column layout */
  }

  .artist-carousel {
    display: grid;
    grid-template-columns: 1fr; /* 1 column layout */
    gap: 20px; /* Adjust the gap between items as needed */
    margin-top: 20px; /* Optional: Add margin at the top */
    margin: 0 auto;
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    text-align: center; /* Center text within items */
  }
  

  .artist-card {
    width: 350px;
    height: 350px;
  }

  
}


// modal================
/* CSS for the Modal and Button */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  width: 400px;
  max-width: 90%;
  max-height: 80vh; /* Make the modal smaller */
  overflow-y: auto; /* Enable vertical scrolling */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 20px;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.modal-body {
  max-height: 70vh; /* Make the body smaller */
  overflow-y: auto;
}

.modal-body form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-body form label {
  font-weight: bold;
}

.modal-body form input,
.modal-body form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.modal-body form button {
  margin-top: 20px;
  padding: 10px;
  background-color: #db3236; /* Button color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.modal-body form button:hover {
  background-color: #c12e30; /* Darker shade on hover */
}

.modal-body form .cancel-button {
  background-color: #f1f1f1;
  color: #333;
}

.modal-body form .cancel-button:hover {
  background-color: #ddd;
}

/* Button for opening the modal */
.btn-add-artist {
  background-color: #db3236;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-add-artist:hover {
  background-color: #c12e30;
}


// Filter section\

.search-section {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-section input {
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}



/* Update for artist layout */
.artist-carousel {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px; /* Adjust the gap between items as needed */
  margin-top: 20px; /* Optional: Add margin at the top */
  margin: 0 auto;
  display: relative;
}

.artist-card {
  text-align: center;
  border-radius: 10000px;
}
