@import "../tokens.scss";

.button_4-387 {
  padding: 15px 25px 15px 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 18px;
  background: #ffffff;
}
.text-sign-up_4-388 {
  color: #fb8500;
  font-size: 16px;
  font-family: Poppins;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  text-wrap: nowrap;
}
