@import "../tokens.scss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.burgerbar {
  height: 40px;
  width: 40px;
  margin-left: 20px;
  cursor: pointer;
}

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  padding: 20px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.burger-menu ul {
  list-style: none;
  padding: 0;
  margin: 50px 0 0;
}

.burger-menu li {
  margin: 20px 0;
  font-size: 50px;
  cursor: pointer;
  animation: slideIn 0.5s ease-in-out forwards;
  padding: 40px;
}

.burger-menu li:hover {
  color: #e34d4d;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.burger-menu .close-button {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 70px;
}

@keyframes slideIn {
  from { transform: translateY(-100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.page-contact {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #ffffff;
}

.navbar {
  padding: 10px 20px;
  top: 0;
  left: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  width: 100%;
  height: 89px;
  z-index: 2; /* Ensures the navbar is on top of other content */
}

.burgerbar, .text-le-croissant-fertile {
  display: flex;
  align-items: center;
}

.burgerbar {
  margin-right: 20px;
  cursor: pointer;
}

.text-le-croissant-fertile {
  color: #ffffff;
  font-size: 40px;
  font-family: Koulen;
  cursor: pointer;
}

.frame-3 {
  display: flex;
  align-items: center;
  margin-right: 50px;
  font-size: 40px;
  font-family: Koulen;

}

.text-en-fr {
  color: #ffffff;
  font-size: 40px;
  font-family: Koulen;
}

.left-section{
  display: flex;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;
  width: 100%;
  height: 325px;
}

.cover .title {
  color: #ffffff;
  font-size: 50px;
  font-family: Koulen;
  margin-top: 10px;
}

.contact-section {
  padding: 50px 20px;
}

.text-about-us,
.text-our-mission,
.text-reach-out,
.team-title {
  color: #000000;
  font-size: 42px;
  font-family: Koulen;
  margin-bottom: 20px;
}

.about-description,
.mission-description,
.reach-out-description,
.team-member {
  color: #2b2d42;
  font-size: 24px;
  font-family: Koulen;
  margin-bottom: 30px;
  text-align: justify;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  background: #e34d4d;
  color: #ffffff;
  font-family: Koulen;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.contact-form button:hover {
  background: #d43a3a;
}

.email-info {
  color: #e34d4d;
  font-size: 24px;
  font-family: Koulen;
  text-align: center;
}

.team-info {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}

.team-member {
  margin-bottom: 20px;
}

.member-name {
  font-weight: bold;
  font-size: 24px;
}

.member-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.member-email {
  color: #e34d4d;
  font-size: 18px;
}

.footer {
  background: #000000;
  color: #ffffff;
  padding: 50px 0px;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
  animation: spin 4s linear infinite;
}

.footer-description {
  text-align: center;
  margin: 20px 0;
  font-family: Koulen;
  max-width: 800px;
  text-align: justify;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 30px 0;
  margin-right: 30px;

}

.frame-186,
.frame-185,
.frame-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-website-links,
.text-social-platforms,
.text-languages {
  font-size: 32px;
  font-family: Koulen;
  margin-bottom: 20px;
}

.text-home,
.text-pricing,
.text-about,
.text-faqs,
.text-instagram,
.text-facebook,
.text-english,
.text-french {
  font-size: 24px;
  font-family: Koulen;
  margin: 5px 0;
  cursor: pointer;

}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin-top: 30px;
}

.text-rights-reserved {
  font-size: 16px;
  font-family: Koulen;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .about-description{
        font-size: 20px;
    }

    .mission-description{
        font-size: 20px;

    }

    .reach-out-description{
        font-size: 20px;
    }

    .title h1{
        font-size: 50px;
    }

  .navbar {
    height: auto;
    padding: 20px;
}
  .text-le-croissant-fertile{
    font-size: 25px;
}

.text-en-fr{
    font-size: 25px;
}

.title{
  font-size: 25px;
}
}


// MODAL================
.btn-add-contact {
  background-color: #f04f41;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

.btn-add-contact:hover {
  background-color: #d9453b;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}


/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Modal Close Button */
.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

.modal-close-button:hover {
  color: #000;
}

/* Modal Form */
.modal-body form {
  display: flex;
  flex-direction: column;
}

.modal-body label {
  margin-top: 10px;
  font-weight: bold;
}

.modal-body input,
.modal-body textarea {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.modal-body textarea {
  resize: vertical;
}

.modal-body button {
  margin-top: 20px;
  padding: 10px;
  background-color: #f04f41;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-body button:hover {
  background-color: #d9453b;
}
