.logo-container {
    width: 400px; /* Set this to your desired width */
    height: 400px; /* Set this to your desired height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  