.page-evenement {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #ffffff;
}

.navbar {
    padding: 10px 20px;
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    width: 100%;
    height: 89px;
    z-index: 2; /* Ensures the navbar is on top of other content */
  }
  
  .burgerbar, .text-le-croissant-fertile {
    display: flex;
    align-items: center;
  }
  
  .burgerbar {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .text-le-croissant-fertile {
    color: #ffffff;
    font-size: 40px;
    font-family: Koulen;
    cursor: pointer;
  }
  
  .frame-3 {
    display: flex;
    align-items: center;
    margin-right: 50px;
    font-size: 40px;
    font-family: Koulen;
  
  }
  
  .text-en-fr {
    color: #ffffff;
    font-size: 40px;
    font-family: Koulen;
  }
  
  .left-section{
    display: flex;
  }

.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000000;
    width: 100%;
    height: 300px;
}

.title {
    color: #ffffff;
    font-size: 45px;
    font-family: Koulen;
    text-align: center;
    margin-top: 10px;
}

.events-section {
    padding: 50px 20px;
    text-align: center;
}

.event-header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-family: Koulen;
    margin-bottom: 20px;
    margin-right: 220px;
}

.event-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.event-column {
    flex: 1;
    text-align: center;
}

.event-column img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.btn-buy-tickets {
    background: #e34d4d;
    color: #ffffff;
    font-family: Koulen;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 25px;
    margin-right: 70px;
}

.btn-buy-tickets:hover {
    background: #d43a3a;
}

.footer {
    background: #000000;
    color: #ffffff;
    padding: 50px 0px;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    max-width: 100%;
    height: auto;
    animation: spin 4s linear infinite;
}

.footer-description {
    text-align: center;
    margin: 20px 0;
    font-family: Koulen;
    max-width: 800px;
    text-align: justify;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 30px 0;
    margin-right: 30px;

}

.frame-186, .frame-185, .frame-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-website-links, .text-social-platforms, .text-languages {
    font-size: 32px;
    font-family: Koulen;
    margin-bottom: 20px;
}

.text-about, .text-faqs, .text-instagram, .text-facebook, .text-english, .text-french {
    font-size: 24px;
    font-family: Koulen;
    margin: 5px 0;
    cursor: pointer;

}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin-top: 30px;
}

.text-rights-reserved {
    font-size: 16px;
    font-family: Koulen;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar {
        height: auto;
        padding: 20px;
    }

    .title{
        font-size: 25px;
    }

    .text-le-croissant-fertile{
        font-size: 25px;
    }

    .text-en-fr{
        font-size: 25px;
    }
    // .text-le-croissant-fertile{
    //     text-align: center;
    // }

    

    .event-column {
        margin-bottom: 10px;
    }

}


.burgerbar {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    cursor: pointer;
  }

  .burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    padding: 20px;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
  
  .burger-menu ul {
    list-style: none;
    padding: 0;
    margin: 50px 0 0;
  }
  
  .burger-menu li {
    margin: 20px 0;
    font-size: 50px;
    cursor: pointer;
    animation: slideIn 0.5s ease-in-out forwards;
    padding: 40px;
  }
  
  .burger-menu li:hover {
    color: #e34d4d;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .burger-menu .close-button {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 70px;
  }
  
  @keyframes slideIn {
    from { transform: translateY(-100%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
  
  @keyframes slideOut {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(-100%); opacity: 0; }
  }



  .spinning-logo {
    animation: spin 4s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  